body {
  background-color: #000;
  font-size: 40px;
  color: #fff;
}

.App {
  display: grid;
  text-align: center;
  margin-top: 50px;
  height: 300px;
}

.row {
  margin-top: 110px;
  width: 100%;
}

.box {
  padding: 50px;
  border: 5px solid #fff;
  background-color: #f00;
}

#currentTurn {
  margin-top: 50px;
}